<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:Event/etc/events.xsd">
    <event name="sales_order_place_after">
        <observer name="recolize_recommendation_engine_update_user_data_in_cookie" instance="Recolize\RecommendationEngine\Observer\UpdateUserDataInCookie" />
    </event>
    <event name="customer_login">
        <observer name="recolize_recommendation_engine_update_user_data_in_cookie" instance="Recolize\RecommendationEngine\Observer\UpdateUserDataInCookie" />
    </event>
    <event name="customer_logout">
        <observer name="recolize_recommendation_engine_reset_user_data_in_cookie" instance="Recolize\RecommendationEngine\Observer\ResetUserDataInCookie" />
    </event>
</config>